<div class="container-fluid">
    <form (ngSubmit)="UpdatePassword()">
        <div class="form-group col-md-3">
          <label>Email</label>
          <input type="email" name="email" [(ngModel)]="email" class="form-control" placeholder="Email">
      </div>
      <div class="form-group col-md-3">
          <label>TemporaryPassword</label>
          <input type="password" name="usershortPassword" [(ngModel)]="usershortPassword" class="form-control" placeholder="TemporaryPassword">
        </div>
        <div class="form-group col-md-3">
            <label>UpdatePassword</label>
            <input type="password" name="Password" [(ngModel)]="Password" class="form-control"  placeholder="UpdatePassword">
          </div>
      <button type="submit" class="btn btn-primary">Click Here</button>
    </form>
  </div>