<div class="container" *ngIf="singleview">
    <button type="button" class="nav-link active" class="btn btn-success" (click)="gotoDashboard()">Go to Dashboard</button>
  <div class="card text-center" *ngFor="let x of singleview">
    <div class="card-header">
      <h5>ListName</h5>
      {{x.ListName}}
    </div>
    <div class="card-body">
      <h5>ItemName</h5>
      <p class="card-title">{{x.ItemName}}</p>
      <h5>SubItemName</h5>
      <p class="card-text">{{x.SubItemName}}</p>
    </div>
    <button type="button" class="btn btn-secondary" (click)="editfriendlist(x.UserId,x.ListId)">Edit</button>
    <button type="button" class="btn btn-secondary" (click)="deletefriendlist(x.UserId,x.ListId)">Delete</button>
  </div>
</div>